* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
  padding: 3rem;
  background-color: #fff;
  color: #333;
  font-size: 1.4rem;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #a9a9a9;
}

footer strong {
  text-decoration: underline;
}
